div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand(href='/') Brand name
      div.nav-collapse
      ul.nav
        li
          a(href='/') Home
        li
          a(href='/support') Support
        li
          a(href='/contact') Contact