extends layout
include _navbar



block content
  div.container
    div.#fb-root 
      script 
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
    div.row-fluid
      div.span12
        div.navbar.navbar-fixed-top#topnavbar
          div.topnavbar-bkg.one-edge-shadow
            div.span1.5#headerLogo
              img(src='/img/logoClear2.png') 
            div.span3#headerLogoRight
              p Bike For Beds
            div.span2#socialButtons
              div.row-fluid
                div.span12#buttonContainer2
                  div.span3#facebookLikes2
                    div.fb-like(data-href="https://www.facebook.com/pages/Bike4Beds/205247346165797",data-send="true",data-layout="box_count",data-width="450",data-show-faces="true")
                  div.span3#facebookPage2
                    a(href='https://www.facebook.com/pages/Bike4Beds/205247346165797') 
                      img(src='/img/Social-Network-Facebook.ico')
                  div.span3#facebookPage2
                    a(href='https://twitter.com/Bike4Beds')
                      img(src='/img/twitter-icon1.png')
                  div.span3#bloggerPage2
                    a(href='https://bike4beds.blogspot.com/')
                      img(src='/img/blogger-icon.png')
  div.container      
    div.row
      div.span10
        div.navbar.navbar-fixed-top#mainnav1
          div.nav.nav-pill
            a(data-dropdown="dropdown")
              div.container
                a(data-toggle='collapse',data-target='.nav-collapse').btn.btn-navbar
                a(icon-bar)
                a(icon-bar)
                a(icon-bar)
                div.nav-collapse
                  ul.nav
                    li
                      a(href='/') Home 
                    li
                      a(href='/UpcomingEventsA') Upcoming Events
                    li
                      a(href='/pledge') Pledge
                    li.active
                      a(href='/bikes') Bike
                    li
                      a(href='/volunteer') Volunteer
                    li
                      a(href='/past') Previous Years
                    li(id='menu1').dropdown
                      a(data-toggle='dropdown', href='#menu1').dropdown-toogle Contact Us
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href='#') The Team
                        li
                          a(href='#') Email Us
                            div.container
    div.row
      div.span12 
        div.container
          div.span12#Bodynav
            div.span8#backGround  
              div.carousel.slide-right#mycarousel
                adiv.carousel-inner
                  div.item.active
                    img(src='/img/BikePhoto16.png')
                  div.item
                    img(src='/img/BikePhoto15.png')
                  div.item
                    img(src='/img/BikePhoto14.png')
                  div.item
                    img(src='/img/BikePhoto13.png')
                  div.item
                    img(src='/img/BikePhoto12.png')
                  div.item
                    img(src='/img/BikePhoto11.png')
                  div.item
                    img(src='/img/BikePhoto10.png')
                  div.item
                    img(src='/img/BikePhoto9.png')
                  div.item
                    img(src='/img/BikePhoto8.png')
                  div.item
                    img(src='/img/BikePhoto7.png')
                  div.item
                    img(src='/img/BikePhoto6.png')
                  div.item
                    img(src='/img/BikePhoto5.png')
                  div.item
                    img(src='/img/BikePhoto4.png')
                  div.item
                    img(src='/img/BikePhoto3.png')
                  div.item
                    img(src='/img/BikePhoto2.png')
                  div.item
                    img(src='/img/BikePhoto1.png')   
            div.span5
          div.span10#sideBarBackGround
            div.container
              div.row 
                div.modal-alert.modal.hide.fade
                  div.modal-header
                      button.close(data-dismiss='modal') x
                      h3
                  div.modal-body(style="white-space: pre-line")
                      p
                  div.modal-footer
                      button(data-dismiss="modal")#ok.btn.btn-warning OK  
              div.span8#backGroundBottom 
                contact-pledge-container
                  form(action="/pledge",method="post")#bikes-form.well
                    h1 Bikers Registration Form
                    p.subheading Please Enter Your Bike Information                   
                    div#block
                     label First Name                      
                     input(type="text", name="firstName", alt="First Name", id='firstName-tf', value='').span3.required
                    div#block1 
                     label Last Name
                     input(type="text", name="lastName", alt="Last Name", id='lastName-tf', value='').span4.required
                    div#Street
                     label Street Address
                     input(type="text", name="streetAddr", alt="Street Addr", id='streetAddr-tf', value='').span7.required
                    div#blockCity
                      label City
                      input(type="text", name="city", alt="City", id='city-tf').span3.required
                    div#blockState
                      label State
                      select(type="text",name="state", alt="State", id='state-tf')#stateDw.span2.required
                    div#blockZip
                      label Zip
                      input(type="text", name="zip", alt="Zip", id='zip-tf')#zip.span2.required
                    div#blockEmail
                      label Email Address
                      input(type="text", name="email", alt="Email Address", id='email-tf').span4.required
                    div#blockPhoneNbr
                      label Phone Number
                      input(type="text", name="phoneNbr", alt="Phone Number", id='phoneNbr-tf')#phoneNbr.span3.required
                    div#Street
                      label Select an event to bike
                      select(type="text",name="bikeEvent", alt="Bike Event", id='bikeEvent-tf')#eventsDw.span5
                    div
                      label Shirt Size (technical shirt included in Bike Fee)
                      select(type="text",name="shirt", alt="Shirt Size", id='shirt-tf')#shirtDw.span4
                    div#Street
                    P
                    P The biking fee is $30 (includes technical shirt), along with the fee each biker is encouraged to get sponsorship by per mile or total.
                      select(type="text",name="sponsorship", alt="Sponsorship", id='sponsorship-tf')#sponsorshipDw.span5
                    div#Street
                    p
                    p Bike Waiver
                    p In consideration of the acceptance of this entry, I hereby for myself, my heirs, executors, administrator and assigns release and discharge Bike4Beds INC, their agents, and sponsors whose facilities, services and products are being used for this event, from any claims for damages suffered by me as a result of my participation in or traveling to or from said event. I specifically release and discharge the said promoters and sponsors and all participants, whose facilities are being used for this event, etc. from all injuries or damages arising from or contributed to any physical impairment or defect I may have, whether latent or patent, and agree that they are under no obligation to provide physical examination or other evidence of any fitness to participate in such event, the same being my responsibility. I also give permission for the free use of my name and picture in any broadcast, telecast or other written account of the event. I understand that helmets are required for riders under the age of 16 and recommended for riders 16 and over. I also understand that there will be regular traffic on these roads and I must adhere to all traffic laws and regulations.
                    div
                      input(type='checkbox',name="agreement",alt="Agreement", id='agreement-tf')#agreement.required
                      |   By checking this box, I agree with the above waiver.
                      p
                    div  
                      input(type='checkbox',name='overSixteen', alt="Over Sixteen", id='overSixteen-tf')#over16.required
                      |   By checking this box, I agree I am over sixteen years of age.
                    div
                    p
                    p You must be over 18 years of age OR the parent/legal guardian of a minor under 18 years of age OR the legal guardian of an incapacitated and/or mentally challenged person in order to agree to the text above. Enter your Birth Date:
                    p
                      input(type="text", name="birthDate", alt="Birth Date", id='birthDate-tf')#birthDate.span2.required
                    div
                      label Please Sign (by typing your name)
                      input(type="text", name="signature", alt="Signature", id='signature-tf').span4.required
                    div
                      label Amount (Event $15 - Donation $15) 
                      input(type="text", name="amount", alt="Amount", id="cc-amount", value = '30')#amount.span1.required
                    div#paymentTypes
                      P
                      label Please select your method of payment:
                      input(type="radio", name="payment[Types]", alt="Payment Method", style="vertical-align: middle", val="creditCard", checked=true)#creditCard
                      |     Credit Card
                      br
                      input(type="radio", name="payment[Types]", val="check", checked=true)#check
                      |     Check (Bike4Beds, 229 Mountain Park Rd., Allentown, PA 18103)
                      P
                      input(type="hidden", name="paymentType")#paymentType
                      input(type="hidden", name="paymentStatus")#paymentStatus
                      input(type="hidden", name="env", value=env)#env    

                    div#Submit
                      button(type="submit")#btn-login-bikes.btn.btn-primary
                       | Submit
                    //div
                      <div id="error" class="hidden"></div>
                      <div id="success" class="hidden">Thanks for signing up at Browserling!</   









