doctype 5
html
  head
    title= 'Bike4Beds'
    link(href="css/bootstrap.css",rel="stylesheet")
    //link(href="css/bootstrap-responsive.css",rel="stylesheet")
    link(href="css/docs.css",rel="stylesheet")
    link(rel='stylesheet',href='/css/style.css')
    //script(src="js/jquery-1.8.2.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js")
    link(rel="stylesheet",href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css")
    script(src="js/bootstrap.js")
    script(src="js/jquery.maskedinput.js")
    script(src="/js/jquery.bxslider.min.js")
    link(href="/css/jquery.bxslider.css",rel="stylesheet")



  body

  block content


  script(src='js/custom.js')
  script(src="/js/pledgeValidator.js")
  script(src="https://js.stripe.com/v2/")
  script(src="https://checkout.stripe.com/v2/checkout.js")



