extends layout
include _navbar

block content
  div.container
    div.#fb-root
      script
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
    div.row-fluid
      div.span12
        div.navbar.navbar-fixed-top#topnavbar
          div.topnavbar-bkg.one-edge-shadow
            div.span1.5#headerLogo
              img(src='/img/logoClear2.png')
            div.span3#headerLogoRight
              div
                p#bike4bedTitle Bike4Beds
              div
                div#NextEventParent
                  a(href='/UpcomingEventsA')
                    div#NextEventButton
                      p Next Event 5/16/15
            div.span2#socialButtons
              div.row-fluid
                div.span12#buttonContainer2
                  div.span6#GuideStar
                    <a href="http://www.guidestar.org/organizations/27-3805732/bike4beds.aspx" target="_blank">
                    <img src="http://widgets.guidestar.org/gximage2?o=9128541&l=v4" /></a>
                  div.span3#facebookLikes2
                    div.fb-like(data-href="https://www.facebook.com/pages/Bike4Beds/205247346165797",data-send="true",data-layout="box_count",data-width="450",data-show-faces="true")
                  div.span3#facebookPage2
                    a(href='https://www.facebook.com/pages/Bike4Beds/205247346165797')
                      img(src='/img/Social-Network-Facebook.ico')
                  div.span3#facebookPage2
                    a(href='https://twitter.com/Bike4Beds')
                      img(src='/img/twitter-icon1.png')
                  div.span3#bloggerPage2
                    a(href='https://bike4beds.blogspot.com/')
                      img(src='/img/blogger-icon.png')
  div.container
    div.row
      div.span12
        div.navbar.navbar-fixed-top#mainnav1
          div.nav.nav-pill
            a(data-dropdown="dropdown")
              div.container
                a(data-toggle='collapse',data-target='.nav-collapse').btn.btn-navbar
                a(icon-bar)
                a(icon-bar)
                a(icon-bar)
                div.nav-collapse
                  ul.nav
                    li
                      a(href='/') Home
                    li
                      a(href='/UpcomingEventsB') Upcoming Events
                    li
                      a(href='/pledge') Pledge
                    li
                      a(href='/bikes') Bike
                    li
                      a(href='/volunteer') Volunteer
                    li
                      a(href='/past') Previous Years
                    li(id='menu1').dropdown
                      a(data-toggle='dropdown', href='#menu1').dropdown-toogle About Us
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href='/aboutUs') About Us
                        li
                          a(href='/members') The Team
                        li
                          a(href='/contactUs') Contact Us
    div.row
      div.span12
        div.container
          div.span12#Bodynav
            div.span8#backGround
              div(id='tabs')
                ul
                  li
                    a(href='#tabs-2') Bio
                  li
                    a(href='#tabs-1') Picture
                div(id='tabs-2', class='tab')
                  div(class='mycarousel4')#mycarousel4
                div(id='tabs-1', class='tab active')
                  div(class='mycarousel3')#mycarousel3

            div.span10#backGround1
              container
                button(class='AkouaPic')#AkouaPic
                button(class='AkouaPic')#AlaricePic
                button(class='JessciaPic')#JessicaPic
                button(class='JoePic')#JoePic
                button(class='KomlanPic')#KomlanPic
                button(class='aboutPic')#lewisRitzPic
                button(class='BobPic')#BobPic
                button(class='aboutPic')#donLonerganPic
                button(class='aboutPic1')#jayBoylePic
                button(class='aboutPic1')#mattRitzPic






