extends layout
include _navbar

block content
  div.container
    div.#fb-root
      script
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
    div.row-fluid
      div.span12
        div.navbar.navbar-fixed-top#topnavbar
          div.topnavbar-bkg.one-edge-shadow
            div.span1.5#headerLogo
              img(src='/img/logoClear2.png')
            div.span3#headerLogoRight
              p Bike For Beds
            div.span2#socialButtons
              div.row-fluid
                div.span12#buttonContainer2
                  div.span3#facebookLikes2
                    div.fb-like(data-href="https://www.facebook.com/pages/Bike4Beds/205247346165797",data-send="true",data-layout="box_count",data-width="450",data-show-faces="true")
                  div.span3#facebookPage2
                    a(href='https://www.facebook.com/pages/Bike4Beds/205247346165797')
                      img(src='/img/Social-Network-Facebook.ico')
                  div.span3#facebookPage2
                    a(href='https://twitter.com/Bike4Beds')
                      img(src='/img/twitter-icon1.png')
                  div.span3#bloggerPage2
                    a(href='https://bike4beds.blogspot.com/')
                      img(src='/img/blogger-icon.png')
  div.container
    div.row
      div.span12
        div.navbar.navbar-fixed-top#mainnav1
          div.nav.nav-pill
            a(data-dropdown="dropdown")
              div.container
                a(data-toggle='collapse',data-target='.nav-collapse').btn.btn-navbar
                a(icon-bar)
                a(icon-bar)
                a(icon-bar)
                div.nav-collapse
                  ul.nav
                    li
                      a(href='/') Home
                    li
                      a(href='/UpcomingEventsB') Upcoming Events
                    li
                      a(href='/pledge') Pledge
                    li
                      a(href='/bikes') Bike
                    li
                      a(href='/volunteer') Volunteer
                    li.active
                      a(href='/past') Previous Years
                    li(id='menu1').dropdown
                      a(data-toggle='dropdown', href='#menu1').dropdown-toogle About Us
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href='/aboutUs') About Us
                        li
                          a(href='/members') The Team
                        li
                          a(href='/contactUs') Contact Us
    div.row
      div.span12
        div.container
          div.span12#Bodynav
            div.span8#backGround
              div.carousel.slide-right#mycarousel
                adiv.carousel-inner
                  div.item
                    img(src='/img/BikePhoto16.png')
                  div.item
                    img(src='/img/BikePhoto15.png')
                  div.item
                    img(src='/img/BikePhoto14.png')
                  div.item
                    img(src='/img/BikePhoto13.png')
                  div.item
                    img(src='/img/BikePhoto12.png')
                  div.item
                    img(src='/img/BikePhoto11.png')
                  div.item
                    img(src='/img/BikePhoto10.png')
                  div.item
                    img(src='/img/BikePhoto9.png')
                  div.item
                    img(src='/img/BikePhoto8.png')
                  div.item
                    img(src='/img/BikePhoto7.png')
                  div.item
                    img(src='/img/BikePhoto6.png')
                  div.item
                    img(src='/img/BikePhoto5.png')
                  div.item
                    img(src='/img/BikePhoto4.png')
                  div.item
                    img(src='/img/BikePhoto3.png')
                  div.item.active
                    img(src='/img/BikePhoto2.png')
                  div.item
                    img(src='/img/BikePhoto1.png')
    div.container
      div.row
          div.span12
            div.navbar#mainnav2
              div.nav.nav-pill
                a(data-dropdown="dropdown")
                  div.container
                    a(data-toggle='collapse',data-target='.nav-collapse').btn.btn-navbar
                    a(icon-bar)
                    a(icon-bar)
                    a(icon-bar)
                    div.nav-collapse
                      ul.nav
                        li.active
                          a(href='/2008') 2008
                        li
                          a(href='/2009') 2009
                        li
                          a(href='/2010') 2010
                        li
                          a(href='/2011') 2011
                        li
                          a(href='/2012') 2012
                        li
                          a(href='/2013') 2013
    div.container
      div.span12#sideBarBackGround
        div.container
              div.row
                div.span12#backGroundBottom
                  p !{mainBodyText}



script(src='./public/modules/state-list')