

body {
  //padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  //min-width: 900px;
  position: relative;
  background-color: #C0D9D9;
}

 /*#AboutPic1:hover {
  border-color: red !important;
 }*/
/* #AboutPic12:hover ~ #mycarousel4 {
  background-color: red;
  background: none;
  border-color: red;
 }

.brand
{
  //background: url(/img/logoClear.png) no-repeat left;
  //height: 20px;
  //width: 100px;
}
*/

.navbar-fixed-top {
//min-width:800px;
position: fixed;
text-shadow: none;
//top: 0;
//right: 0;
//left: 0;
z-index: 100;
}

/*
.navbar a:hover{
  color: #FFFFFF;
  background: #711515;
  padding: 1em;
  margin: 0;
}

*/
.navbar .nav > li > a{
  color: #ffffff;
}

.carousel {
  max-width: 100%;
  left: 20px;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  position: relative;
}
.navbar-inner {
  // min-width: 800px;
  background-color: #000; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar .nav > li > a {
  text-shadow: none;
}

.fb_edge_widget_with_comment span.fb_send_button_form_widget {
  margin-top: 85px;
}

a {
  color: #00B7FF;
}
#topnavbar{
  background-color: #C0D9D9;
  z-index: 100;
  height: 120px;
  width: 1500px;
}
#topnavbar2{
  background-color: #C0D9D9;
  z-index: 100;
  min-height: 120px;
  width: 100%;
  height: 10%;
}
#fbLogo {
   margin-left: -16px;
   background: url(/img/facebook_icon.jpg) no-repeat;
   padding-left:80px;
   padding-right:20px;
   text-indent: -9999em;
   height: 120px;
   display: block;
   visibility: hidden;
}


.hoverClassName {
  background: url('/img/BikePhoto1.png') !important;
}

.hoverClassMattPic {
  background: url('/img/Comicion-Pic3xcf.png') no-repeat !important;
}

.hoverClassJessicaPic {
  background: url('/img/JessicaB4BPic.png') no-repeat !important;
}

.hoverClassKomlanPic {
  background: url('/img/KomlanB4BPic.png') no-repeat !important;
}

.hoverClassAkouaPic {
  background: url('/img/B4Bprofilepic_Akoua.png') no-repeat !important;
}

.hoverClassAlaricePic {
  background: url('/img/AlariceGolfing.png') no-repeat !important;
}


.hoverClassJoePic {
  background: url('/img/JoeB4BPic.png') no-repeat !important;
}

.hoverClassBobPic {
     background: url('/img/BobB4BPic.png') no-repeat !important;
}

.hoverClassName1 {
     background: url('/img/BikePhoto4.png') !important;
}

.hoverClassName2 {
     background: url('/img/BikePhoto2.png') !important;
}

.hoverClassName3 {
     background: url('/img/BikePhoto3.png') !important;
}

#AboutPic1 {
    margin-top: 10px;
    margin-bottom: 10px;
    width:100px;
    height: 150px;
    margin-left: 20px;

    background:#ffffff;
    padding:18px 18px 2px 18px;
    border:1px solid #999999;
    background: url('/img/BikePhoto3.png') no-repeat;
}

#mattRitzPic {
    margin-top: 10px;
    margin-bottom: 10px;
    width:100px;
    height: 150px;
    margin-left: 20px;

    background:#ffffff;
    padding:18px 18px 2px 18px;
    border:1px solid #999999;
    background: url('/img/MattMountain2.png') no-repeat;
}

#JessicaPic {
    margin-top: 10px;
    margin-bottom: 10px;
    width:100px;
    height: 150px;
    margin-left: 20px;

    background:#ffffff;
    padding:18px 18px 2px 18px;
    border:1px solid #999999;
    background: url('/img/JessicaB4BPicThumbNail.png') no-repeat;
}

#KomlanPic {
    margin-top: 10px;
    margin-bottom: 10px;
    width:100px;
    height: 150px;
    margin-left: 20px;

    background:#ffffff;
    padding:18px 18px 2px 18px;
    border:1px solid #999999;
    background: url('/img/KomlanB4BPicThumbNail.png') no-repeat;
}

#JoePic {
    margin-top: 10px;
    margin-bottom: 10px;
    width:100px;
    height: 150px;
    margin-left: 20px;

    background:#ffffff;
    padding:18px 18px 2px 18px;
    border:1px solid #999999;
    background: url('/img/JoeB4BPicThumbNail.png') no-repeat;
}

#AkouaPic {
    margin-top: 10px;
    margin-bottom: 10px;
    width:100px;
    height: 150px;
    margin-left: 50px;

    background:#ffffff;
    padding:18px 18px 2px 18px;
    border:1px solid #999999;
    background: url('/img/B4ThumbNailpic_Akoua.png') no-repeat;
}

#AlaricePic {
    margin-top: 10px;
    margin-bottom: 10px;
    width:100px;
    height: 150px;
    margin-left: 20px;

    background:#ffffff;
    padding:18px 18px 2px 18px;
    border:1px solid #999999;
    background: url('/img/AlariceGolfingThumbNail.png') no-repeat;
}

#BobPic {
    margin-top: 10px;
    margin-bottom: 10px;
    width:100px;
    height: 150px;
    margin-left: 50px;

    background:#ffffff;
    padding:18px 18px 2px 18px;
    border:1px solid #999999;
    background: url('/img/BobB4BPicThumbNail.png') no-repeat;
}

#lewisRitzPic {
    margin-top: 10px;
    margin-bottom: 10px;
    width:100px;
    height: 150px;
    margin-left: 20px;

    background:#ffffff;
    padding:18px 18px 2px 18px;
    border:1px solid #999999;
    background: url('/img/BikePhoto8.png') no-repeat;
}

#donLonerganPic {
    margin-top: 10px;
    margin-bottom: 10px;
    width:100px;
    height: 150px;
    margin-left: 20px;

    background:#ffffff;
    padding:18px 18px 2px 18px;
    border:1px solid #999999;
    background: url('/img/BikePhoto7.png') no-repeat;
}

#jayBoylePic {
    margin-top: 10px;
    margin-bottom: 10px;
    width:100px;
    height: 150px;
    margin-left: 20px;

    background:#ffffff;
    padding:18px 18px 2px 18px;
    border:1px solid #999999;
    background: url('/img/BikePhoto6.png') no-repeat;
}

#AboutPic2 {
    margin-top: 10px;
    margin-bottom: 10px;
    width:100px;
    height: 150px;
    margin-left: 20px;

    background:#ffffff;
    padding:18px 18px 2px 18px;
    border:1px solid #999999;
    background: url('/img/BikePhoto8.png') no-repeat;
}

#AboutPic3 {
    margin-top: 10px;
    margin-bottom: 10px;
    width:100px;
    height: 150px;
    margin-left: 20px;

    background:#ffffff;
    padding:18px 18px 2px 18px;
    border:1px solid #999999;
    background: url('/img/BikePhoto2.png') no-repeat;
}


#mycarousel3 {
  height: 285px;
  /*width: 589px;*/
  width: 800px;
  margin-left: -22px;
  /*border: 3px solid #C0C0C0;*/
  margin-top: -10px;
  /*background: url('/img/B4Bprofilepic_Akoua.png') no-repeat;*/

}

#mycarousel4 {
  height: 285px;
  width: 800px;
  margin-left: -22px;
  /*border: 3px solid #C0C0C0;*/
  margin-top: -10px;
  /*background: url('/img/akouaBio.png') no-repeat;*/
}


label.error {
  float: left;
  color: red;
  padding-top: .5em;
  vertical-align: top;
  font-weight:bold
}

#errors{
  /*diplay: none;*/
}
  /*
  //min-width:800px;

  //box-shadow: 2px 4px 20px #005377;
  //margin: 0 auto;
  //box-shadow: 2px 4px 20px #005377;
  position: fixed;

  */

#headerLogo {
  margin-top: 0px;
  z-index: 100;
  margin-right: 10px;
  margin-left: 73px;
  min-width: 10%;
  min-height: 120px;
}

#testHeaderLogo{
  margin-top: 0px;
  z-index: 100;
  margin-left: 0px;
}

  /*
  background-color: #C0D9D9;
  height: 150px;

  margin-bottom: 15px
  //box-shadow: 2px 4px 20px #005377;
  //background: url("/img/logoClear.png");
  */

#headerLogoRight{
/*  background-color: #C0D9D9;
  height: 115px;
  margin-top: 5px;
  margin-bottom: 15px
  padding-top: 60px;
  position: fixed;
  */
  font: 50px "Lucida Grnde", Helvetica, Arial, Sans-serif;
  margin-left: 0px;
  z-index: 100;
}
#headerLogoRight2{
/*  background-color: #C0D9D9;
  height: 115px;
  margin-top: 5px;
  margin-bottom: 15px
  padding-top: 60px;
  position: fixed;
  */
  font: 50px "Lucida Grnde", Helvetica, Arial, Sans-serif;
  //margin-left: 50px;
  margin-left: 12%;
  z-index: 100;
}
#mainnav1 {
  background-color: #005377;
  margin-top: 120px;
  margin-left: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 50px;
  color: #ffffff;
  //width: 780px;
  //font-weight: 20px;
  z-index:100;
}

#mainnav1 a:hover{
  color: #FFFFFF;
  background: #00B7FF;
  //padding: 1em;
  //margin: 0;
}

#mainnav2 {
background-color: #005377;
margin-top: 10px;
margin-left: 50px;
margin-right: auto;
margin-left: auto;
padding: 0 50px;
  //width: 780px;
z-index:110;
}

#mainnav {
margin-left: 119px;
height: 0px;
font-size: 13px;
width: 880px;
padding: 0 46px;
margin-top: 100px;
padding-bottom: 20px;
position: absolute;
//box-shadow: 2px 4px 20px #005377;
//background-color: #C0D9D9;
z-index:100;
}
#mycarousel {
  //display: block;
  width: 800px;
  margin-left: -20px;
  border: 3px solid #C0C0C0;
  margin-top: 100px;
  //position: ;
  //line-height: 1;
}
#mycarousel2 {
  //display: block;
  width: 800px;
  margin-left: -80px;
  border: 3px solid #C0C0C0;
  margin-top: 100px;
  //position: ;
  //line-height: 1;
}
#mycarouselBikes {
  //display: block;
  width: 1500px;
  margin-left: -100px;
  border: 3px solid #C0C0C0;
  margin-top: 100px;
  //position: ;
  //line-height: 1;
}

#Bodynav {
  //background-color: #C0D9D9;
  z-index: 80;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  /*
  //max-width: 780px;

  display: block;
  width: 1640px;
  margin-top: 60px;
  margin-bottom: 60px;
  //position: ;
  //line-height: 1;
  */

}
#backGroundMain  {
  position: relative;
  margin-top: 100px;
  height: 500px;
  margin-left: 30px;
  background-color: #C0D9D9;

}
#backGround {
  margin-top: 60px;
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  //min-width: 600px;
  //background-color: #C0D9D9;

  position: static;
  //width: 100%;*/
}

#backGround1 {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  //min-width: 600px;
  //background-color: #C0D9D9;

  position: static;
  //width: 100%;*/
}

#sideBarBackGround {
/*
   background-color: #CCFFCC;
   */
  /*
  //min-width: 200px;

  margin-left: 0px;
  //Width: 880px;
  position: relative;
  */
}

#backGroundBottom {
  background-color: #C0D9D9;
  /*padding: 30px;
  margin-left: -10px;*/
}

#backGroundBottomNoCarousel{
  background-color: #C0D9D9;
  padding: 10px;
  margin-left: -10px;
  margin-top: 100px;
}
/*#Submit {
  background-color: #C0D9D9;
  padding: 10px;
  margin-left: -10px;
}*/
#facebookPage {
  margin-top: 25px;
  margin-left: 10px;
  max-width: 50px;
  max-height: 50px;
  z-index: 1000;
}
#facebookPage2 {
  margin-left: 10px;
  max-width: 20px;
  max-height: 20px;
  margin-top: -10px;
  z-index: 1000;
}

#topnavbar a:hover{
  color: #FFFFFF;
  background: #ffffff;
  max-width: 100%;
  /*max-height: 10;
  margin: -100px;*/
}

#twitterPage {
  margin-top: 23px;
  margin-left: 10px;
  max-width: 53px;
  max-height: 40px;
  min-height: 30px;
}
#twitterPage2 {
  margin-top: -2px;
  margin-left: 0px;
  max-width: 43px;
  max-height: 30px;
  min-height: 29px;
}
#bloggerPage {
  margin-top: -10px;
  margin-left: 10px;
  max-width: 50px;
  max-height: 50px;
}
#bloggerPage2 {
  margin-left: 10px;
  max-width: 20px;
  max-height: 20px;
  margin-top: -10px;
}
#facebookLikes {
  margin-left: 300px;
  margin-top: 20px;
}
#facebookLikes2 {
  margin-left: 4px;
  margin-top: 0px;
  margin-right: 20px;
}
#GuideStar {
  margin-left: 4px;
  margin-top: -10px;
  margin-right: 20px;
}
#OptionButtons {
  min-width: 130px;
  min-height: 60px;
  margin-left: -12px;
  margin-top: 10px;
}
#buffer{
  margin-top: 120px;
}

#gap{
  margin-left: 20px;
}

#block{
    display: inline-block;
    //background-color: #FFFFFF;
    width: 240px;
    //margin-left: -100px;
    //float: left;
    //padding: 10px;
}

#block1{
    display: inline-block;
    //background-color: #FFFFFF;
    //width: 240px;
    width: 300px;
    //margin-left: -100px;
    //float: left;
    //padding: 10px;
}
#Street{
    display: block;
    //background-color: #FFFFFF;
    width: 200px;
    //float: left;
    //padding: 10px;
}

#blockCity{
    display: inline-block;
    //background-color: #FFFFFF;
    width: 240px;
    //float: left;
    //padding: 10px;
}
#blockState{
    display: inline-block;
    //background-color: #FFFFFF;
    width: 160px;
    //float: left;
    //padding: 10px;
}
#blockZip{
    display: inline-block;
    //background-color: #FFFFFF;
    width: 150px;
    //float: left;
    //padding: 10px;
}

#blockBikers{
    display: block;
    //background-color: #FFFFFF;
    width: 200px;
    float: left;
    //padding: 10px;
}

#blockEmail{
    display: inline-block;
    //background-color: #FFFFFF;
    width: 320px;
    //float: left;
    //padding: 10px;
}
#blockPhoneNbr{
    display: inline-block;
    //background-color: #FFFFFF;
    width: 240px;
    //float: left;
    //padding: 10px;
}
#Submit{
  margin-top: 20px;
}
#topbar{
  margin-top: 0px;
  margin-left: 100px;
  min-height: 200px;
  max-height: 300px;
}
#nestedCubes{
  margin-top: 0px;
  margin-left: 7px;
  min-height: 40px;
  max-height: 90px;
  min-width: 40px;
  max-width: 90px;
}
#buttonContainer{
  margin-left: 5px;
}
#buttonContainer2{
  margin-left: 0px;
  margin-top: 15px;
}
#noMargins{
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
@media (max-width: 800px) {
    .hidden-800 {
        display:none !important;
    }
}
#creditCard {
  margin-bottom: 8px;
  //outline:1px solid #F00;
}
#check {
  margin-bottom: 8px;
}
#agreement {
  margin-bottom: 8px;
}
#over16 {
  margin-bottom: 8px;
}

#amount .errHilight {
  border-color: rgb(255, 17, 17);
  background-color: blue;
  border: 1px solid red;
}
#socialButtons {
  border: 0px;
  margin-left: 0px;
}

a.anchor1{display: block; position: relative; top: -160px; visibility: hidden;}

a {color: #3366FF;}

#tabs {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    height: 336px;
    width: 800px;
}

#NextEventButton {
/*  -webkit-box-shadow: 0px 3px 61px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 61px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 61px -2px rgba(0,0,0,0.75);*/
  //radius
  border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border: 0px solid #000000;

background: rgba(151,199,199,1);
background: -moz-linear-gradient(top, rgba(151,199,199,1) 0%, rgba(151,199,199,1) 20%, rgba(151,199,199,1) 41%, rgba(151,199,199,1) 54%, rgba(102,166,166,1) 99%, rgba(102,166,166,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(151,199,199,1)), color-stop(20%, rgba(151,199,199,1)), color-stop(41%, rgba(151,199,199,1)), color-stop(54%, rgba(151,199,199,1)), color-stop(99%, rgba(102,166,166,1)), color-stop(100%, rgba(102,166,166,1)));
background: -webkit-linear-gradient(top, rgba(151,199,199,1) 0%, rgba(151,199,199,1) 20%, rgba(151,199,199,1) 41%, rgba(151,199,199,1) 54%, rgba(102,166,166,1) 99%, rgba(102,166,166,1) 100%);
background: -o-linear-gradient(top, rgba(151,199,199,1) 0%, rgba(151,199,199,1) 20%, rgba(151,199,199,1) 41%, rgba(151,199,199,1) 54%, rgba(102,166,166,1) 99%, rgba(102,166,166,1) 100%);
background: -ms-linear-gradient(top, rgba(151,199,199,1) 0%, rgba(151,199,199,1) 20%, rgba(151,199,199,1) 41%, rgba(151,199,199,1) 54%, rgba(102,166,166,1) 99%, rgba(102,166,166,1) 100%);
background: linear-gradient(to bottom, rgba(151,199,199,1) 0%, rgba(151,199,199,1) 20%, rgba(151,199,199,1) 41%, rgba(151,199,199,1) 54%, rgba(102,166,166,1) 99%, rgba(102,166,166,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97c7c7', endColorstr='#66a6a6', GradientType=0 );


  /*margin-left: auto;
  margin-right: auto;
  width: 250px;*/
  height: 40px;
  line-height: 45px;
  //margin-top: 10px;
  text-align: center;
}

#NextEventButton:hover {
  //radius
  border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border: 0px solid #000000;

  background: rgba(123,184,184,1);
  background: -moz-linear-gradient(top, rgba(123,184,184,1) 0%, rgba(123,184,184,1) 20%, rgba(123,184,184,1) 41%, rgba(123,184,184,1) 54%, rgba(74,145,145,1) 99%, rgba(74,145,145,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(123,184,184,1)), color-stop(20%, rgba(123,184,184,1)), color-stop(41%, rgba(123,184,184,1)), color-stop(54%, rgba(123,184,184,1)), color-stop(99%, rgba(74,145,145,1)), color-stop(100%, rgba(74,145,145,1)));
  background: -webkit-linear-gradient(top, rgba(123,184,184,1) 0%, rgba(123,184,184,1) 20%, rgba(123,184,184,1) 41%, rgba(123,184,184,1) 54%, rgba(74,145,145,1) 99%, rgba(74,145,145,1) 100%);
  background: -o-linear-gradient(top, rgba(123,184,184,1) 0%, rgba(123,184,184,1) 20%, rgba(123,184,184,1) 41%, rgba(123,184,184,1) 54%, rgba(74,145,145,1) 99%, rgba(74,145,145,1) 100%);
  background: -ms-linear-gradient(top, rgba(123,184,184,1) 0%, rgba(123,184,184,1) 20%, rgba(123,184,184,1) 41%, rgba(123,184,184,1) 54%, rgba(74,145,145,1) 99%, rgba(74,145,145,1) 100%);
  background: linear-gradient(to bottom, rgba(123,184,184,1) 0%, rgba(123,184,184,1) 20%, rgba(123,184,184,1) 41%, rgba(123,184,184,1) 54%, rgba(74,145,145,1) 99%, rgba(74,145,145,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bb8b8', endColorstr='#4a9191', GradientType=0 );

  //vertical-align: top;
  /*margin-left: auto;
  margin-right: auto;
  width: 250px;*/
  height: 40px;
  line-height: 45px;
  //margin-top: 10px;
  text-align: center;
}

#NextEventButton p {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  text-align: center;
  font-size: 22px;
  //padding-top: 10px;
  color: #000;
  background: transparent;
}

#NextEventButton:hover p {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  text-align: center;
  font-size: 22px;
  //padding-top: 10px;
  color: #000;
  background: transparent;
/*  text-decoration: none;*/
}

#bike4bedTitle {
  text-align: center;
}

#NextEventParent {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

#NextEventParent a {
  text-decoration: none;
}

#eventSectionInset {
    padding-top: 0px;
    padding-left: 10px;
    border-width:5px;
    border-style:inset;
}

#eventSectionRidge {
    padding-top: 0px;
    padding-left: 10px;
    border-style: ridge;
}

a.comment {
/*  width: 400px;
  background-color: #f0f0f0;
  margin: 10px;*/
  display: block; position: relative; top: -160px;
  /*visibility: hidden;*/
}

a.morelink {
  text-decoration:none;
  outline: none;
}
.morecontent span {
  display: none;

}
/*.theride {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}*/

.h5Modified {
    display: block;
    font-size: 14px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.tabs {
  margin-left: 40px;
  /*display: none;*/
}

