extends layout
include _navbar

block content
  div.container
    div.row
      div.span10  
        div.navbar.navbar-fixed-top#topnavbar
          div.topnavbar-bkg.one-edge-shadow
            div.container
              div.span2#headerLogo
                img(src='/img/logoClear2.png') 
              div.span8#headerLogoRight
                p Bike For Beds  
  div.container      
    div.row
      div.span10
        div.navbar.navbar-fixed-top#mainnav1
          div.nav.nav-pill
            a(data-dropdown="dropdown")
              div.container
                a(data-toggle='collapse',data-target='.nav-collapse').btn.btn-navbar
                a(icon-bar)
                a(icon-bar)
                a(icon-bar)
                div.nav-collapse
                  ul.nav
                    li
                      a(href='/') Home 
                    li.active
                      a(href='/bikes') Bike
                    li
                      a(href='#support') Plege
                    li
                      a(href='#') Volunteer
                    li(id='menu1').dropdown
                      a(data-toggle='dropdown', href='#menu1').dropdown-toogle Contact Us
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href='#') The Team
                        li
                          a(href='#') Email Us
                            div.container
    div.row
      div.span12 
        div.container
          div.span12#Bodynav
            div.span8#backGround  
              div.carousel.slide-right#mycarousel
                adiv.carousel-inner
                  div.item.active
                    img(src='/img/Bikeing_SalemDiner.bmp')
                  div.item
                    img(src='/img/Bikeing_Rose.bmp')
                  div.item
                    img(src='/img/Bikeing_PeopleBeforeRide.bmp')
                  div.item
                    img(src='/img/Biking_Komlan.jpeg')
            div.span5
          div.span10#sideBarBackGround
            div.container
              div.row 
                div.span7#backGroundBottom 
                  p !{mainBodyText}

