extends layout
include _navbar

block content
  div.container
    div.#fb-root 
      script 
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
    div.row
      div.span12
        div.navbar.navbar-fixed-top#topnavbar
          div.topnavbar-bkg.one-edge-shadow
            div.container
              div.span2#headerLogo
                img(src='/img/logoClear2.png') 
              div.span5#headerLogoRight
                p Bike For Beds
              div.span1#facebookLikes
                div.fb-like(data-href="http://www.facebook.com/pages/Bike4Beds/205247346165797",data-send="true",data-layout="box_count",data-width="450",data-show-faces="true")
              div.span1#facebookPage  
                 a(href='http://www.facebook.com/pages/Bike4Beds/205247346165797') 
                    img(src='/img/Social-Network-Facebook.ico')
              div.span1#twitterPage
                  a(href='http://twitter.com/Bike4Beds')
                    img(src='/img/twitter-icon.png')
              div.span1#bloggerPage
                  a(href='http://bike4beds.blogspot.com/')
                    img(src='/img/blogger-icon.png')
              div.span1
                 a(href='http://www.facebook.com/pages/Bike4Beds/205247346165797')#fbLogo fb 
  div.container      
    div.row
      div.span12
        div.navbar.navbar-fixed-top#mainnav1
          div.nav.nav-pill
            a(data-dropdown="dropdown")
              div.container
                a(data-toggle='collapse',data-target='.nav-collapse').btn.btn-navbar
                a(icon-bar)
                a(icon-bar)
                a(icon-bar)
                div.nav-collapse
                  ul.nav
                    li
                      a(href='/') Home 
                    li.active  
                      a(href='/bikes') Upcoming Events
                    li
                      a(href='#') Previous Years
                    li 
                      a(href='/pledge') Pledge
                    li(id='menu1').dropdown
                      a(data-toggle='dropdown', href='#menu1').dropdown-toogle Contact Us
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href='#') The Team
                        li
                          a(href='#') Email Us
                            div.container
  div.container 
    div.row
      div.span12#Bodynav
        div.span12#backGround  
              div.carousel.slide-right#mycarouselBikes
                adiv.carousel-inner
                  div.item.active
                    img(src='/img/BikingPics1jpg.jpg')
                  div.item
                    img(src='/img/BikingPics2jpg.jpg')
                  div.item
                    img(src='/img/BikingPics3jpg.jpg')
                  div.item
                    img(src='/img/BikingPics4jpg.jpg')
                  div.item
                    img(src='/img/BikingPics5jpg.jpg')
                  div.item
                    img(src='/img/BikingPics6jpg.jpg')
                  div.item
                    img(src='/img/BikingPics7jpg.jpg')
                  div.item
                    img(src='/img/BikingPics8jpg.jpg')
                  div.item
                    img(src='/img/BikingPics9jpg.jpg')
                  div.item
                    img(src='/img/BikingPics10jpg.jpg')
                  div.item
                    img(src='/img/BikingPics11jpg.jpg')
                  div.item
                    img(src='/img/BikingPics12jpg.jpg')
                  div.item
                    img(src='/img/BikingPics13jpg.jpg')
                  div.item
                    img(src='/img/BikingPics14jpg.jpg')    
  div.container
    div.row
      div.span12
        div.navbar#mainnav2
          div.nav.nav-pill
            a(data-dropdown="dropdown")
              div.container
                a(data-toggle='collapse',data-target='.nav-collapse').btn.btn-navbar
                a(icon-bar)
                a(icon-bar)
                a(icon-bar)
                div.nav-collapse
                  ul.nav
                    li.active
                      a(href='/bikes') May 27th Event 
                    li
                      a(href='/bikes') Sept 29th Event
    div.container
      div.span12#sideBarBackGround
        div.container
              div.row 
                div.span7#backGroundBottom 
                  p !{mainBodyText}
                div.span1
                div.span3
                  img(src='/img/PledgeButtonE.png')#OptionButtons
                  img(src='/img/BikeButtonE.png')#OptionButtons
                  img(src='/img/VolunteerButtonE.png')#OptionButtons
                div.span2
              


