extends layout
include _navbar

block content
  div.container
    div.#fb-root 
      script 
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
    div.row
      div.span12
        div.navbar.navbar-fixed-top#topnavbar
          div.topnavbar-bkg.one-edge-shadow
            div.container
              div.span2#headerLogo
                img(src='/img/logoClear2.png') 
              div.span5#headerLogoRight
                p Bike For Beds
              div.span1#facebookLikes
                div.fb-like(data-href="http://www.facebook.com/pages/Bike4Beds/205247346165797",data-send="true",data-layout="box_count",data-width="450",data-show-faces="true")
              div.span1
                 a(href='http://www.facebook.com/pages/Bike4Beds/205247346165797')#fbLogo fb
  div.container      
    div.row
      div.span10
        div.navbar.navbar-fixed-top#mainnav1
          div.nav.nav-pill
            a(data-dropdown="dropdown")
              div.container
                a(data-toggle='collapse',data-target='.nav-collapse').btn.btn-navbar
                a(icon-bar)
                a(icon-bar)
                a(icon-bar)
                div.nav-collapse
                  ul.nav
                    li
                      a(href='/') Home
                    li   
                      a(href='/bikes') Upcoming Events
                    li
                      a(href='#') Previous Events
                    li.active
                      a(href='/pledge') Plege
                    li(id='menu1').dropdown
                      a(data-toggle='dropdown', href='#menu1').dropdown-toogle Contact Us
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href='#') The Team
                        li
                          a(href='#') Email Us
                            div.container
    div.row
      div.span12 
        div.container
          div.span12#Bodynav
            div.span8#backGround  
              div.carousel.slide-right#mycarousel
                adiv.carousel-inner
                  div.item.active
                    img(src='/img/Bikeing_SalemDiner.bmp')
                  div.item
                    img(src='/img/Bikeing_Rose.bmp')
                  div.item
                    img(src='/img/Bikeing_PeopleBeforeRide.bmp')
                  div.item
                    img(src='/img/Biking_Komlan.jpeg')
            div.span5
          div.span10#sideBarBackGround
            div.container
              div.row 
                div.span7#backGroundBottom 
                  contact-pledge-container
                    form( method="post").well
                        h1 Pledge
                        p.subheading Please Enter Your Pledge Information
                        div#block
                          label First Name 
                          input(type="text", name="fname", id='fname-tf').span3.required
                        label Last Name
                        input(type="text", name="lname", id='lname-tf').span3.required
                        div
                         label Street Address
                         input(type="text", name="streetAddr", id='streetAddr-tf').span6.required
                        div#blockCity
                          label City
                          input(type="text", name="cityAddr", id='cityAddr-tf').span2.required
                        div#blockCity
                          label State
                          input(type="text", name="stateAddr", id='stateAddr-tf').span2.required
                        div#blockCity 
                        label Zip
                        input(type="text", name="zipAddr", id='zipAddr-tf').span2.required
                        div#block
                          label Email Address
                          input(type="text", name="emailAddr", id='emailAddr-tf').span3.required
                        div#block
                        label Phone Number
                        input(type="text", name="phoneNbr", id='phoneNbr-tf').span3.required
                        div
                          button(type="submit")#btn-login.btn.btn-primary
                           | Submit
                        div.clear-fix
                  





// display form errors in a custom modal window //

//include modals/form-errors












